.e-schedule .e-vertical-view .e-content-wrap .e-appointment {
    border-radius: 8px !important;
}

.e-schedule .e-vertical-view .e-content-wrap .e-appointment .e-appointment-details {
    padding: 0px !important;
    height: 100%;
}

.e-schedule .template-wrap {
    height: 100%;
    white-space: normal;
}

.e-schedule .template-wrap .subject {
    font-weight: 600;
    font-size: 15px;
    max-width: 100%;
    padding: 4px 4px 4px;
    word-wrap: break-word; /* Older syntax */
    overflow-wrap: break-word; /* Modern syntax */
     
}

.e-schedule .template-wrap .time {
    height: 75px;
    font-size: 12px;
    padding: 4px 6px 4px;
    overflow: hidden;
}

div:has(> .template-wrap) {
    height: 100%;
    border-radius: 8px;

}
.e-schedule-dialog
 {
    max-height: 100vh;
}
.e-popup {
    height: 100%;
}
.e-dlg-container {
    height: 100vh;
}
.editorHolder:has(> #_dialog_wrapper) {
    height: 100%;
    width: 70%;
}